<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>select</title>
</head>
<body>
<h1 align="center">TotalPolicies [HTML]</h1>
<br>
<br>
  <table id="userTable">
    <thead>
    <tr>
      <th>DomainID</th>
      <th>PolicyID</th>
      <th>PolicyName</th>
      <th>RegDate</th>
      <th>LastModifyDate</th>
      <th>Memo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${result}">
      <td  style="border-right: 1px solid" th:text="${r.DomainId}">emil</td>
      <td  style="border-right: 1px solid" th:text="${r.PolicyId}">name</td>
      <td  style="border-right: 1px solid" th:text="${r.PolicyName}">stat</td>
      <td  style="border-right: 1px solid"th:text="|${#strings.substring(r.RegDate, 0, 4)}-${#strings.substring(r.RegDate, 4, 6)}-${#strings.substring(r.RegDate, 6, 8)} ${#strings.substring(r.RegDate, 8, 10)}:${#strings.substring(r.RegDate, 10, 12)}:${#strings.substring(r.RegDate, 12, 14)}|">stat</td>
      <td  style="border-right: 1px solid"th:text="|${#strings.substring(r.LastModifyDate, 0, 4)}-${#strings.substring(r.LastModifyDate, 4, 6)}-${#strings.substring(r.LastModifyDate, 6, 8)} ${#strings.substring(r.LastModifyDate, 8, 10)}:${#strings.substring(r.LastModifyDate, 10, 12)}:${#strings.substring(r.LastModifyDate, 12, 14)}|">stat</td>
      <td  style="border-right: 1px solid" th:text="${r.Memo}">super</td>
    </tr>
    </tbody>
  </table>
</body>
</html>