<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>insert test</h3>
<form action="/crud/insert" method="post">
    <label>POLICYID: </label> <input type="text" name="policyId" size="20"> <br/>
    <label>POLICYNAME: </label> <input type="text" name="policyName" size="20"><br/>
    <label>RegDATE: </label> <input type="text" name="regDate" size="14"><br/>
    <label>LastModifyDate: </label> <input type="text" name="lastModifyDate" size="14"><br/>

    <input type="submit">
</form>
</body>
</html>